/* Sidebar Features styles */

.sideBarLeft {
  background-color: #e9eef2;
  height: 100%;
}
.featureContainer {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 0.375rem 0px;
  cursor: pointer;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.featureContainer:hover {
  background: rgba(77, 151, 255, 0.25);
}

.featureIcon {
  width: 100%;
  height: 80%;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 100%;
  margin: 0 auto 0.125rem;
  box-sizing: border-box;
}

.featureText {
  width: 100%;
  height: 20%;
}

.sideBarRight {
  height: 100%;
  border: 1px solid gray;
  padding: 1em;
  padding-top: 0;
}

/* Tab colors */

.one {
  background-color: #3b82f6;
}

.two {
  background-color: #9966ff;
}

.three {
  background-color: #f59e0b;
}

.four {
  background-color: #40bf4a;
}
